aiofiles==25.1.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
autogen-agentchat==0.5.7
autogen-core==0.5.7
autogen-ext==0.5.7
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.3.1
distro==1.9.0
dotenv==0.9.9
fastapi==0.129.0
h11==0.16.0
-e git+https://github.com/dishitasingh365/1-Personalized-Holiday-Management-Agent-1.git@86b57de0d9360d120d35fb1f450b4d14fa1f778c#egg=holiday_management
httpcore==1.0.9
httpx==0.28.1
idna==3.11
importlib_metadata==8.7.1
Jinja2==3.1.6
jiter==0.13.0
jsonref==1.1.0
MarkupSafe==3.0.3
openai==2.21.0
opentelemetry-api==1.39.1
packaging @ file:///opt/miniconda3/conda-bld/packaging_1761049079150/work
pillow==12.1.1
protobuf==5.29.6
pydantic==2.12.5
pydantic_core==2.41.5
python-dotenv==1.2.1
regex==2026.1.15
requests==2.32.5
setuptools==80.10.2
sniffio==1.3.1
starlette==0.52.1
tiktoken==0.12.0
tqdm==4.67.3
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
uvicorn==0.41.0
wheel==0.46.3
zipp==3.23.0
